
*{
    font-family: 'Handjet', cursive;

    margin: 0;
    box-sizing: border-box;
}
body{
    
    width: 100vw;
    height: 100vh;

    background-color: rgb(10, 10, 10);
}
header{
    width: 100vw;
    height: 60px;

    display: flex;
    align-items: center;
    padding: 0 1.5%;
    border-bottom: 1px solid rgb(25, 25, 25);
}
/* .line__header{
    width: 100%;
    height: 1%;

    background-color: #cf3ad4;
    border-radius: 100px;
    
} */
.img__header_logo{
    height: 80%;
    margin-left: 10px;

}
#navbar{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: 0;
    margin-left: auto;
}
.menu_item{
    list-style: none;
    padding: 0 5px;

}
.menu_link{
    
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 1.6em;

    /* border-image-slice: 1;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to left, #cf3ad4 100%, transparent 100%); */
}
section.activities{
    width: 100vw;
    height: 200px;

    padding: 1% 1.5%;
    border-bottom: 1px solid rgb(25, 25, 25);

    display: flex;
    justify-content: center;
}

.style_activities{
    width: 300px;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10px;
}
.nenaxod_ac{
    background: url(img/nenaxod_logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    border-radius: 10px;
}
.synonim_ac{
    background: url(img/synonim_logo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}
.TSandS_ac{
    background: url(img/36and6_logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}
.other_ac{
    background: url(img/other_logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
}
.activities_font{

    font-size: 2em;
    opacity:1;
    margin-left: 40%;
}